---
import CalendarLayout from "~/layouts/CalendarLayout.astro";
import Content from "~/data/calendar.md";
---
<CalendarLayout title="Calendar">
    <div class="w-full max-w-6xl mx-auto">
        <Content />
    </div>
</CalendarLayout>
