---
import CalendarLayout from "~/layouts/CalendarLayout.astro";
import CalendarChart from "~/components/Calendar.astro";
---
<CalendarLayout title="Calendar">
    <div class="w-full max-w-6xl mx-auto">
        <CalendarChart />
    </div>
</CalendarLayout>
