---
import CalendarLayout from "~/layouts/CalendarLayout.astro";
<<<<<<< HEAD
import CalendarChart from "~/components/Calendar.astro";
---
<CalendarLayout title="Calendar">
    <div class="w-full max-w-6xl mx-auto">
        <CalendarChart />
=======
import Content from "~/data/calendar.md";
---
<CalendarLayout title="Calendar">
    <div class="w-full max-w-6xl mx-auto">
        <Content />
>>>>>>> 924105837775f7f0c991a29d66e6fc5d9831a423
    </div>
</CalendarLayout>
