---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import BlogOldestPosts from '~/components/widgets/BlogOldestPosts.astro';
import Team from '~/components/widgets/Team.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Voyage',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Learn more',
        href: '#features',
      },
    ]}
    image={{ src: '~/assets/images/Trip-cuate.svg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
    A Trip made for<span class="text-primary highlight"> You</span><br/>Where Your Taste Shapes the <span class="text-primary highlight"> Journey</span>
    </Fragment>

    <Fragment slot="subtitle">
    Because your taste deserves more than generic recommendations
    </Fragment>
  </Hero2>
  <HeroText title="Say Bon Voyage to Planning" />


  <Features
    id="features"
    title="Features"
    items={[
      {
        title: 'Provide personally tailored activity recommendations',
        // description:"",
        icon: 'tabler:map',
      },
      {
        title: 'Smooth and straightforward user interaction',
        // description: "",
        icon: 'tabler:users',
      },
      {
        title: 'Simplified trip budgeting',
        // description:"",
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Reduce research and planning time',
        // description:"",
        icon: 'tabler:search',
      }
    ]}
  />

  <Team
      title="Team"
  />


  <BlogOldestPosts
    title="Milestones"
  />


</Layout>
