---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import BlogOldestPosts from '~/components/widgets/BlogOldestPosts.astro';

const metadata = {
  title: 'Voyage',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Learn more',
        href: '#features',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
    A Trip made for<span class="text-primary highlight"> You</span><br/>Where Your Taste Shapes the <span class="text-primary highlight"> Journey</span>
    </Fragment>

    <Fragment slot="subtitle">
    Because your taste deserves more than generic recommendations
    </Fragment>
  </Hero2>



  <Features
    id="features"
    tagline="Features"
    title="Say Bon Voyage to Planning"
    items={[
      {
        title: 'Provide personally tailored activity recommendations',
        // description:"",
        icon: 'tabler:map',
      },
      {
        title: 'Smooth and straightforward user interaction',
        // description: "",
        icon: 'tabler:users',
      },
      {
        title: 'Simplified trip budgeting',
        // description:"",
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Reduce research and planning time',
        // description:"",
        icon: 'tabler:search',
      }
    ]}
  />

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>


  <BlogOldestPosts
    title="Milestones"
  />


</Layout>
