---
import { Image } from 'astro:assets';
import logo_navy from '~/assets/favicons/voyage-complete-logo-navy.png';
import logo_white from '~/assets/favicons/voyage-complete-logo-white-nobg.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<Image src={logo_navy} alt="voyage" class="w-auto h-20 dark:hidden" />
<Image src={logo_white} alt="voyage" class="w-auto h-20 hidden dark:block" />
</span>
