---
import Layout from '~/layouts/PageLayout.astro';
const {title} = Astro.props;
---
<Layout>
  <div class="text-center max-w-5xl mx-auto">
    <h1
    class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
    set:html={title}
  />
    </div>
    <div id="wrapper" class="text-center justify-center p-8">
      <slot/>
    </div>
</Layout>

<!-- Mermaid -->
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
    startOnLoad: true,
    theme: 'base',
    themeVariables: {
      primaryColor: '#fe385c',
      primaryTextColor: '#000',
      primaryBorderColor: '#FFF',
      tertiaryColor: '#fff',
    },
  });
</script>
