---
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';
const {title} = Astro.props;
---
<Layout>
  <HeroText title={title} />
  <div id="wrapper" class="text-center justify-center p-8">
    <slot/>
  </div>
</Layout>
